/*FONTS*/

$font-family: 'Commissioner', sans-serif;
$font-regular: 400;
$font-medium: 500;
$font-bold: 700;
$font-para-desktop-size: 1rem;
$font-para-mobile-size: .9rem;
$font-main-heading: 1.5rem;
$font-statistics-item: 2rem;
$font-section-title-size: 1.2rem;
$font-reward-title-size: 1rem;

/*COLORS*/

$moderate-cyan: hsl(176, 50%, 47%);
$dark-cyan: hsl(176, 72%, 28%);
$black: hsl(0, 0%, 0%);
$dark-gray: hsl(0, 0%, 48%);

/*BORDERS*/

$border-button: 30px;
$border-section: 5px;

/*BREAKPOINTS*/
$breakpoints: (
'xs': 0,
's': 480px,
'md':720px,
'lg':960px,
'xl':1200px
);



/*MIXINS*/
@mixin xs {
    @media(min-width: map-get($breakpoints, 'xs')) {
        @content;
    }
}

@mixin s {
    @media(min-width: map-get($breakpoints, 's')) {
        @content;
    }
}

@mixin md {
    @media(min-width: map-get($breakpoints, 'md')) {
        @content;
    }
}

@mixin lg {
    @media(min-width: map-get($breakpoints, 'lg')) {
        @content;
    }
}

@mixin xl {
    @media(min-width: map-get($breakpoints, 'xl')) {
        @content;
    }
}

@mixin flex-column-center {
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
@content;
}
@mixin flex-row-space-between {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    @content;
}
@mixin flex-column-left {
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    @content;
    }
